html {
  font-family: 'XinGothic', 'Hiragino Sans GB', 'WenQuanYi Micro Hei',
    'Droid Sans', 'Hei SC', 'Microsoft Yahei', sans-serif;
  /* font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif; */
  /* line-height: 1.5; */
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
}
a {
  color: #1abc9c;
  text-decoration: none;
  /* border-bottom: 1px solid transparent;     */
  /* transition: all .2s ease-in; */
}
a:hover {
  /* border-bottom: 1px solid #1abc9c;     */
  /* transition: all 0.2s; */
  text-decoration: underline;
  /* letter-spacing: 0.02rem; */
}
:not(pre) > code {
  padding: 0.2em 0.4em;
  margin: 0;
  background: rgba(27,31,35,0.05);
  border-radius: 3px;
  color: #e96900; 
}

img {
  max-width: 100%;
}
blockquote {
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
  margin: 0;
}
nav {
  background-color: #fafafa;
  padding-left: 1rem;
  position: fixed;
  height: 100vh;
  width: 20vw;
  overflow-y: auto;
  list-style: none;
  transition: transform 250ms ease;
}
nav h1 {
  font-size: 1rem;
  font-weight: bolder;
}
nav > h1 > a{
  transition: all .2s ease-in;
}
nav > h1 > a:hover {
  letter-spacing: 0.2rem;
}
nav ul {
  font-size: 14px;
  padding-left: 10px;
  display: block;
}
nav ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
nav ul li p {
  margin: 0;
  display: inline;
}

.container {
  margin-left: 20vw;
  padding: 1rem 2rem;
  box-sizing: border-box;
  min-height: 90vh;
  transition: transform 250ms ease;
}
main .seq {
  overflow-x: auto;
}
main.has-toc {
  margin-right: 20vw;
}

.toc {
  max-height: 85vh;
  overflow-y: auto;
  background-color: #fafafa;
  font-size: 12px;
  position: fixed;
  width: 20vw;
  padding: 0.5rem;
  margin: 1rem;
  box-sizing: border-box;
  top: 50px;
  right: 0;
  color: #bababa;
  list-style: none;
  border: 1px solid #efefef;
}
.toc .title {
  font-size: 14px;
  color: #999;
  border-left: 3px solid #999;
  padding-left: 7px;
  line-height: 2;
}
.toc li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin-left: -10px;
}
.toc .toc-h1 {
  padding-left: 10px;
}
.toc .toc-h2 {
  padding-left: 25px;
}
.toc .toc-h3 {
  padding-left: 40px;
}
.toc .toc-h4 {
  padding-left: 55px;
}
.toc .on a {
  color: #1abc9c;
}
.toc a {
  color: #bababa;
}

/* .loading {
  background-image: url('https://assets-cdn.github.com/images/spinners/octocat-spinner-128.gif');
  background-repeat: no-repeat;
  background-position: 50%;
} */

.hamburger {
  cursor: pointer;
  position: relative;
  font-size: 10px;
  width: 3.3em;
  height: 3.3em;
  border-radius: 0.3em;
}
.hamburger:before {
  border-top: 0.3em solid #444;
  content: '';
  position: absolute;
  width: 1.9em;
  height: 1em;
  margin: auto;
  border-bottom: 0.3em solid #444;
  top: 1em;
  left: 0.7em;
  border-radius: 0.1em;
}
.hamburger:after {
  display: block;
  content: '';
  position: absolute;
  top: 1.6em;
  width: 1.9em;
  height: 0.3em;
  background: #444;
  left: 0.7em;
  border-radius: 0.1em;
}

.menu nav {
  transform: translateX(-22vw); 
}
.menu .container {
  margin-left: 0;
}

@media (max-width: 768px) {
  .menu nav {
    transform: translateX(0); 
  }
  .menu .container {
    transform: translateX(80vw); 
  }
  nav {
    width: 80vw;
    transform: translateX(-85vw);
  }
  main.has-toc {
    margin-right: 0;
  }
  .toc {
    display: none;
  }
  .container {
    margin-left: 0;
  }
}

h3 {
  position: relative;
  margin-left: 1rem;
}

h3:before {
  content: "#";
  color: #1abc9c;
  position: absolute;
  left: -1rem;
  font-weight: 700;
}

