a {
  text-decoration: none;
}

.toc {
  max-height: 85vh;
  overflow-y: auto;
  background-color: #fafafa;
  font-size: 12px;
  position: fixed;
  width: 20vw;
  padding: 0.5rem;
  margin: 1rem;
  box-sizing: border-box;
  top: 50px;
  right: 0;
  color: #bababa;
  list-style: none;
  border: 1px solid #efefef;
}
.toc .title {
  font-size: 14px;
  color: #999;
  border-left: 3px solid #999;
  padding-left: 7px;
  line-height: 2;
}
.toc li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin-left: -10px;
}
.toc .h1 {
  padding-left: 10px;
}
.toc .h2 {
  padding-left: 25px;
}
.toc .h3 {
  padding-left: 40px;
}
.toc .h4 {
  padding-left: 55px;
}
.toc .on a {
  color: #1abc9c;
}
.toc a {
  color: #bababa;
}
