#hamburger {
  cursor: pointer;
  position: relative;
  font-size: 10px;
  width: 3.3em;
  height: 3.3em;
  border-radius: 0.3em;
  margin-bottom: 1.5em;
}
#hamburger:before {
  border-top: 0.3em solid #444;
  content: '';
  position: absolute;
  width: 1.9em;
  height: 1em;
  margin: auto;
  border-bottom: 0.3em solid #444;
  top: 1em;
  left: 0.7em;
  border-radius: 0.1em;
}
#hamburger:after {
  display: block;
  content: '';
  position: absolute;
  top: 1.6em;
  width: 1.9em;
  height: 0.3em;
  background: #444;
  left: 0.7em;
  border-radius: 0.1em;
}