nav {
  background-color: #fafafa;
  padding-left: 1rem;
  list-style: none;
  border-right: 1px #e1e4e8 solid;
  overflow: hidden;
}
nav a {
  color: #1abc9c;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav::-webkit-scrollbar {
  display: none;
}
nav h1 {
  font-size: 1rem;
  font-weight: bolder;
}
nav > h1 > a{
  transition: all .2s ease-in;
}
nav > h1 > a:hover {
  letter-spacing: 0.2rem;
}
nav ul {
  font-size: 14px;
  padding-left: 10px;
  display: block;
}
nav ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
nav ul li p {
  margin: 0;
  display: inline;
}
